.block3 {
   position: relative;
   margin-top: 66px;
height: 687px;
background:  url('../img/pic_background.png') center /100% 100% no-repeat;
}
.block3__text {
position: absolute;
margin-top:96px;
   width: 540px;
   color: #F4F6F5;
}
.block3__text-sun {
   font-size: 40px;
font-weight: 500;
line-height: 40px;
text-align: left;
}
/* хуево передлать нужно  */
.block3__text-sun h3{
   position: relative;
   left: 90px;
}
.block3__text-sun h3::before{
   position: absolute;
   right: 550px;
content: url('../img/mini/Star\ 2.png');
}

/* .block3__text-list {
} */
.text__info {
   margin-top: 29px;
font-size: 18px;
font-weight: 500;
line-height: 27px;
}
.text__button {
margin-top: 70px;
   width: 257px;
   height: 65px;
}
.btn--o {
   background-color: #EEDB6D;
color: #2C2D35;
}